In [9]:
import requests
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data = requests.get(url).text
#html_data

In [10]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_data1, 'html5lib')

In [11]:
soup.find_all("tbody")[1]
rows = soup.find_all('tr')
import pandas as pd
data = []
for row in rows[1:15]:  # Exclude the header row
    columns = row.find_all('td')
    date = columns[0].get_text()
    revenue = columns[1].get_text()
    data.append({'Date': date, 'Revenue': revenue})
gme_revenue = pd.DataFrame(data)
gme_revenue

    Date Revenue
0   2020  $6,466
1   2019  $8,285
2   2018  $8,547
3   2017  $7,965
4   2016  $9,364
5   2015  $9,296
6   2014  $9,040
7   2013  $8,887
8   2012  $9,551
9   2011  $9,474
10  2010  $9,078
11  2009  $8,806
12  2008  $7,094
13  2007  $5,319

In [12]:
gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$',"", regex=True)
gme_revenue.dropna(inplace=True)
gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]

In [13]:
gme_revenue.tail()

    Date Revenue
9   2011    9474
10  2010    9078
11  2009    8806
12  2008    7094
13  2007    5319