In [1]:
import requests
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data = requests.get(url).text
#html_data

In [2]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_data, 'html5lib')

In [3]:
soup.find_all("tbody")[1]
rows = soup.find_all('tr')
#rows

In [5]:
import pandas as pd
data = []
for row in rows[1:10]:  # Exclude the header row
    columns = row.find_all('td')
    date = columns[0].get_text()
    revenue = columns[1].get_text()
    data.append({'Date': date, 'Revenue': revenue})
tesla_revenue = pd.DataFrame(data)
tesla_revenue

   Date  Revenue
0  2021  $53,823
1  2020  $31,536
2  2019  $24,578
3  2018  $21,461
4  2017  $11,759
5  2016   $7,000
6  2015   $4,046
7  2014   $3,198
8  2013   $2,013

In [6]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"", regex=True)

In [7]:
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [8]:
tesla_revenue.tail()

   Date Revenue
4  2017   11759
5  2016    7000
6  2015    4046
7  2014    3198
8  2013    2013